
body{

    border: 1px solid #ddd;

    background: #e5e5e5;
    background: #f9f9f9;
    color: rgb(96,96,96);
    background: rgba(248,251,255,255);
}

logo{
    <img src="https://www.youtube.com/about/static/svgs/icons/brand-resources/YouTube-logo-full_color_light.svg?cache=72a5d9c" alt="" />
}

media
{
    347px,
    425px.
    768,
    9228
}